@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes blink{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
body{
    background-color:#2C313B;
}
.bg{
    background-color: #2C313B;
}
.bg2{
    background-color: #24282f;
}
.bg3{
    background-color: #20242b;
}
.bg4{
    background-color: #1d2127;
}
.txt{
    color: azure;
}
.t1{
    font-size: xxx-large;
}
.t2{
    font-size: xx-large;
}
.t3{
    font-size: x-large;
}
.t4{
    font-size: large;
}
.t5{
    font-size: medium;
}
.t6{
    font-size: small;
}
p{
    color: #d3d3d3;
}
.bd{
    border: 1px solid rgb(255, 255, 255);
}
.mg-vt-lg{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mg-vt-sm{
    margin-top: 10px;
    margin-bottom: 10px;
}
.curvey{
    border-style: solid;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 90px;
}
.curvey:hover{
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 90px;
    border: none;
}
.alignCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.minPadded{
    padding: 10px 10px;
}
.midPadded{
    padding:20px 20px;
}
.hrPadding{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.mainHeaderContent{
    display:block;
}
.horizontalCenter{
    display: block;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spacer{
    height: 3vh;
}

@keyframes slowShadow{
    from{
        box-shadow: 0px 0px 0px #2C313B;
    }
    to{
        box-shadow: 10px 20px 20px #131313;
    }
}
@keyframes slowTopShadow{
    from{
        box-shadow: 0px 0px 0px #2C313B;
    }
    to{
        box-shadow: -10px -10px 20px #292929;
    }
}
/* .liftup{
    animation: slowShadow 300ms ease-in-out 1 forwards reverse;
} */
.liftup:hover {
    animation: slowShadow 600ms ease-in-out 1 forwards;
    
}
.liftuptop:hover {
    animation: slowTopShadow 600ms ease-in-out 1 forwards;
}
.footer {
    display: block;
}
.coverImage {
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallaxSlider {
    height: 20vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/javaCode.jpg");
}
.animatedBorder::before { 
    content: ""; 
    position: absolute; 
    top: -2px; 
    left: -2px; 
    width: 0; 
    height: 0; 
    background: transparent; 
    border-style: groove;
    border: 2px solid transparent; 
} 
 
.animatedBorder:hover::before { 
    animation: animate 1s ease-out forwards; 
    border-style:double;
} 
 
@keyframes animate { 
    0% { 
        width: 0; 
        height: 0; 
        border-top-color: rgb(255, 255, 255); 
        border-right-color: transparent; 
        border-bottom-color: transparent; 
        border-left-color: transparent; 
    } 
 
    50% { 
        width: 100%; 
        height: 0;
        border-top-color: rgb(255, 119, 28); 
        border-right-color: rgb(255, 119, 28); 
        border-bottom-color: transparent; 
        border-left-color: transparent; 
    } 
 
    100% { 
        width: 100%; 
        height: 100%; 
        border-top-color: rgb(255, 193, 22); 
        border-right-color: rgb(255, 193, 22); 
        border-bottom-color: transparent; 
        border-left-color: transparent; 
    } 
} 
.animatedBorder::after { 
    content: ""; 
    position: absolute; 
    top: -2px; 
    left: -2px; 
    width: 0; 
    height: 0; 
    border-style:double;
    background: transparent; 
    border: 2px solid transparent; 
} 

.animatedBorder:hover::after { 
    animation: animates 1s ease-out forwards; 
} 

@keyframes animates { 
    0% { 
        width: 0; 
        height: 0; 
        border-top-color: transparent; 
        border-right-color: transparent; 
        border-bottom-color: transparent; 
        border-left-color: rgb(255, 255, 255); 
    } 

    50% { 
        width: 0; 
        height: 100%; 
        border-top-color: transparent; 
        border-right-color: transparent; 
        border-bottom-color: rgb(153, 109, 255); 
        border-left-color: rgb(153, 109, 255); 
    } 

    100% { 
        width: 100%; 
        height: 100%; 
        border-top-color: transparent; 
        border-right-color: transparent; 
        border-bottom-color: rgb(255, 45, 157);
        border-left-color: rgb(255, 45, 157);
    } 
} 
.mockupMobile{
    width: 60vw;height:auto;
}
