@keyframes readMoreAnimation{
    to{
        background-color: #333946;
        padding: 10px 10px;
        color: cornflowerblue;
        border-radius: 5px;
        box-shadow: 2px 10px 120px black;
    }
}

.uk-label-iconic{
    background-color: rgb(159, 57, 255);
    color:white;
}