<!DOCTYPE html>
<html style="overflow-x: hidden;">

<head>
    <meta charset="utf-8">
    <title>this is a title for tips and tricks</title>

    <!-- OpenGraph Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="./pages/blog/posts/this-is-a-title-for-tips-and-tricks.html">
    <meta property="og:site_name" content="Sapython" />
    <meta property="og:title" content="this is a title for tips and tricks" />
    <meta name='revised' content='29 April, 2021'>
    <meta property="og:description"
        content="The best description ever in the history this is beacuse Kumar Saptam has written it" />
    <meta property="og:image"
        content="https://cdn.jsdelivr.net/gh/Sapython/Sapython.github.io@master/images/parallax.jpg" />
    <meta property="og:image:alt" content="this is a title for tips and tricks">
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="5032" />
    <meta property="og:image:height" content="3145" />
    <meta name='og:email' content='saptampro2003@gmail.com'>
    <meta name='og:phone_number' content='+91 9517457296'>
    <meta name='og:street-address' content='Avas Vikas Colony Jhunsi Allahabad'>
    <meta name='og:locality' content='India'>
    <meta name='og:region' content='IN'>
    <meta name='og:postal-code' content='211019'>
    <meta name='og:country-name' content='INDIA'>

    <!-- Twitter Tags -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="this is a title for tips and tricks" />
    <meta property="twitter:description"
        content="The best description ever in the history this is beacuse Kumar Saptam has written it" />
    <meta property="twitter:image"
        content="https://cdn.jsdelivr.net/gh/Sapython/Sapython.github.io@master/images/parallax.jpg" />
    <meta property="twitter:image:alt" content="this is a title for tips and tricks">
    <meta name="twitter:site" content="@kumar_saptam" />
    <meta name="twitter:creator" content="@kumar_saptam" />

    <!-- General tags -->
    <meta name="theme-color" content="#2C313B">
    <meta name='distribution' content='Global'>
    <meta name="author" content="Kumar Saptam" />
    <link rel="icon" sizes="192x192" href="http://sapython.me/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" sizes="192x192 16x16 32x32 64x64 128x128" href="http://sapython.me/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Expires" content="600" />
    <meta name="description"
        content="The best description ever in the history this is beacuse Kumar Saptam has written it" />
    <meta name="keywords"
        content=" , tricksthe best description ever" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='application-name' content='sapython'>
    <meta name='designer' content='Kumar Saptam'>
    <meta name='owner' content='Kumar Saptam'>
    <meta name='url' content='./pages/blog/posts/this-is-a-title-for-tips-and-tricks.html'>
    <meta name='pagename' content='this is a title for tips and tricks'>
    <meta name='coverage' content='Worldwide'>
    <meta name='rating' content='General'>
    <meta name='revisit-after' content='7 days'>
    <meta name='target' content='all'>
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='320'>
    <meta name='date' content='29 April, 2021'>
    <meta name='medium' content='home page'>

    <!-- Apple tags -->
    <meta name="apple-mobile-web-app-title" content="Sapython">
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='format-detection' content='telephone=no'>

    <link href='http://sapython.me/logo.png' rel='apple-touch-icon' type='image/png'>
    <link href='http://sapython.me/logo-72-72.png' rel='apple-touch-icon' sizes='72x72'>
    <link href='http://sapython.me/logo-114-114.png' rel='apple-touch-icon' sizes='114x114'>
    <link href='http://sapython.me/Sapython-Banner.png' rel='apple-touch-startup-image'>
    <link href='http://sapython.me/logo-114-114.png' sizes='114x114' rel='apple-touch-icon-precomposed'>
    <link href='http://sapython.me/logo-72-72.png' sizes='72x72' rel='apple-touch-icon-precomposed'>
    <link href='http://sapython.me/logo-57-57.png' sizes='57x57' rel='apple-touch-icon-precomposed'>

    <!-- Google tags -->
    <meta name="news_keywords" content=" , tricksthe best description ever">
    <meta name="robots" content="index, follow" />
    <meta name="Googlebot:noarchive" />
    <meta name="no-email-collection" content="https://www.metatags.org/nospamharvesting" />
    <meta name="revisit-after" content="7 days" />

    <!-- Site tags and sources -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="styles/howToStyle.css">
    <link rel="icon" href="http://sapython.me/favicon.ico" sizes="16x16 32x32" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" loading="lazy" async />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" crossorigin="anonymous" loading="lazy">
    <script type='text/javascript'
        src='https://platform-api.sharethis.com/js/sharethis.js#property=6076cfc56f8e97001192ac41&product=inline-follow-buttons'
        async='async'></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-37TRNTCP6D"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1392419505356231"
      crossorigin="anonymous"></script>
    <script async src="https://cse.google.com/cse.js?cx=40adf45a21f030abf"></script>
</head>

<body>
    <nav class="nav uk-flex">
        <button style="background-color: transparent;border:none;" type="button" class="uk-padding-small"
            uk-toggle="target: #offcanvas-nav-primary"><span class="fa fa-compass"
                style="color:rgb(255, 174, 24);font-size:xx-large"></span></button>
        <a class="uk-navbar-toggle" style="background-color: transparent;right:10px" href="#modal-full" uk-search-icon
            uk-toggle></a>
        <div id="modal-full" class="uk-modal-full uk-modal primary" style="z-index:999999" uk-modal>
            <div class="uk-modal-dialog primary" uk-height-viewport>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-height-large">
                    <form class="uk-search uk-search-large uk-width-1-2">
                        <input class="uk-search-input uk-text-center" type="search" placeholder="Search" autofocus
                            onkeydown="search(this.value)">
                        <button class="uk-modal-close-full primary" style="font-size: 40px;" type="button"
                            uk-close="ratio:2"></button>
                    </form>
                </div>
                <div class="uk-grid-column-small uk-grid-row-large uk-height-large uk-child-width-1-3@s uk-child-width-1-4@l uk-text-center"
                    uk-grid id="searchResults">
                </div>
            </div>
        </div>
    </nav>
    <div id="offcanvas-nav-primary" uk-offcanvas="mode: push;overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul uk-accordion>
                <li class="uk-open">
                    <a class="uk-accordion-title" href="#">Home</a>
                    <div class="uk-accordion-content">
                        <ul style="list-style: none;">
                            <li><a href="#mockup" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> My Work</a></li>
                            <li><a href="#contact" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Contact</a></li>
                            <li><a href="#projects" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Projects</a></li>
                            <li><a href="#plans" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> App Plans</a></li>
                            <li><a href="#telephone" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Telephone</a></li>
                            <li><a href="#webPlans" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Web Plans</a></li>
                            <li><a href="#about" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> About Me</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="https://us1.list-manage.com/contact-form?u=36945f41714b84a3726d6bf4c&form_id=907be37a4a48970cf00855dbf518493e"
                        class="txt">Contact Us</a></li>
                <li>
                    <a class="uk-accordion-title" href="#">Projects</a>
                    <div class="uk-accordion-content">
                        <ul style="list-style: none;">
                            <li><a href="pages/projects/projects.html" class="uk-text-italic"><span
                                        class="fa fa-chevron-right" style="color:orange;"></span> Philosophy
                                    Today</a></li>
                            <li><a href="#contact" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Fryer Man</a></li>
                            <li><a href="#projects" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> JPMC Trust</a></li>
                            <li><a href="#plans" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Philosophy Today App</a></li>
                            <li><a href="#telephone" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Live GPS Tracking</a></li>
                            <li><a href="#webPlans" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Sakha Helper App</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">Legals</a>
                    <div class="uk-accordion-content">
                        <ul style="list-style: none;">
                            <li><a href="#mockup" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Privacy Policy</a></li>
                            <li><a href="#contact" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Contact Us</a></li>
                            <li><a href="#projects" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Terms And Conditions</a></li>
                            <li><a href="#plans" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Pricing</a></li>
                            <li><a href="#telephone" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Cancellation & Refund Policy</a></li>
                            <li><a href="#webPlans" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> Web Plans</a></li>
                            <li><a href="#about" class="uk-text-italic"><span class="fa fa-chevron-right"
                                        style="color:orange;"></span> About Me</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <header style="width:100vw;background-color:#2C313B;" class="uk-height-medium" id="header">
        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light header"
            data-src="https://cdn.jsdelivr.net/gh/Sapython/Sapython.github.io@master/images/parallax.jpg" uk-img>
            <p style="font-size: xx-large;">this is a title for tips and tricks</p>
        </div>
    </header>
    <main>
        <aside>
            <div class="uk-flex-column uk-margin uk-card-default bg2 mainBlogText">
                <div class="uk-card bg2">
                    <p style="font-size: xx-large;" uk-tooltip="title: Search; delay: 500">Search</p>
                    <div class="liftup uk-margin">
                        <div class="gcse-search">
                            <script loading="lazy">
                                var a = setInterval(()=>{
                                    var elements = document.getElementsByClassName("gsc-search-button")
                                    console.log("ELemets "+elements,elements.length)
                                    for (let i =0; i< elements.length; i++){
                                        elements[i].innerHTML='<span uk-search-icon style="width:20px;height:20px"></span>'
                                        console.log("ELement data",elements[0].innerHTML)
                                        clearInterval(a);
                                    }
    
                                },500
                                )
                            </script>
                        </div>
                    </div>
                </div>
                <p style="font-size: xx-large;">About Me</p>
                <div>
                    A self taught programmer who can build apps, websites, and servers. For any open source or
                    commercial projects.
                </div>
                <div class="uk-card bg3 liftup uk-margin">
                    <div class="uk-h3"></div>
                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: scale">
                        <ul class="uk-slideshow-items">
                            <li>
                                <img src="../../../images/Sapython-Banner.png" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="../../../images/messaging.png" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="../../../images/laptopOnTable.jpg" alt="" uk-cover>
                            </li>
                        </ul>
            
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            
                    </div>
                </div>
                <ul uk-accordion class="bg1">
                    <li class="bg3 uk-open" style="padding: 5px 10px;">
                        <a class="uk-accordion-title txt2" href="#">Most View Post</a>
                        <div class="uk-accordion-content" style="padding: 10px 10px;">
                            <div class="uk-margin">
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="https://sapython.me/images/javaCode.jpg" alt="">
                                    </div>
                                    <div class="uk-card bg2" style="padding: 5px 10px;">
                                        <p class="txt " style="font-size:larger">Media Top</p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="https://sapython.me/images/javaCode.jpg" alt="">
                                    </div>
                                    <div class="uk-card bg2" style="padding: 5px 10px;">
                                        <p class="txt " style="font-size:larger">Media Top</p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="https://sapython.me/images/javaCode.jpg" alt="">
                                    </div>
                                    <div class="uk-card bg2" style="padding: 5px 10px;">
                                        <p class="txt " style="font-size:larger">Media Top</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="bg3 uk-padding" style="padding: 5px 10px;">
                        <a class="uk-accordion-title txt2" href="#">Post Of the day</a>
                        <div class="uk-margin uk-accordion-content">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="https://sapython.me/images/javaCode.jpg" alt="">
                                </div>
                                <div class="uk-card bg2" style="padding: 5px 10px;">
                                    <p class="txt " style="font-size:larger">Media Top</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="bg3 uk-padding" style="padding: 5px 10px;">
                        <a class="uk-accordion-title txt2" href="#">My Tweety Twitter.</a>
                        <div class="uk-accordion-content">
                            <p style="font-size:large;">Follow me on twitter</p>
                            <a href="https://twitter.com/saptam_kumar?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @saptam_kumar</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            <p style="font-size:large;">Mention me on twitter</p>
                            <a href="https://twitter.com/intent/tweet?screen_name=saptam_kumar&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @saptam_kumar</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </li>
                </ul>
                <div class="uk-card bg3 liftup uk-padding" style='background-image: url("../../../images/parallax2.jpg");background-size: cover;'>
                    <div>
                        <form
                        action="https://sapython.us1.list-manage.com/subscribe/post?u=36945f41714b84a3726d6bf4c&amp;id=fb40d09aa5"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                        class="subscribeFormSidebar uk-text-center"
                        target="_blank" novalidate>
                            <div class="uk-card">
                                <p class="uk-text-center"style="font-size:xx-large;">Subscribe</p>
                                <input type="email" name="EMAIL" class="email uk-margin noBorder" id="mce-EMAIL" placeholder="Email"
                                    required>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_36945f41714b84a3726d6bf4c_fb40d09aa5" tabindex="-1" value=""></div>
                                <div class="clear uk-margin f1"><input type="submit" value="Subscribe" name="subscribe"
                                        id="mc-embedded-subscribe" class="subscribeButton f1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </aside>
        <article>
            <div class="uk-card uk-margin uk-card-default liftup bg2 mainBlogText">
                <h1 class="txt">this is a title for tips and tricks</h1>
                <div class="uk-flex">
                    <img src="http://sapython.me/images/Kumar Saptam.jpg" alt="Kumar Saptam" class="avatar">
                    <p class="txt uk-margin-medium-left" style="font-size: x-large;">
                        Kumar Saptam
                        <br><time datetime="2021-04-29T20:10" class="uk-text-italic"
                            style="font-size: medium;color:cornflowerblue">29 April, 2021</time>
                    </p>
                    <div class="sharethis-inline-follow-buttons uk-margin-medium-left"></div>
                </div>
                <h2 id="subheadingUrl">This is subheading</h2>
                <p>The best description ever in the history this is beacuse Kumar Saptam has written it</p>
                <img src="http://sapython.me/images/{{postImage}}" class="uk-align-center imageMedium" alt="">
                <div class="spacer"></div>
                <ul class="uk-grid-small uk-child-width-1-2 uk-child-width-1-4@s" uk-sortable="handle: .uk-card" uk-grid>
                    {% for tip in tips %}
                    <li>
                        <div class="uk-card uk-card-default uk-card-body uk-text-center bg4">tip.text</div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="spacer"></div>
                {% for tip in tips %}
                <div>
                    <div class="uk-article">
                        <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{tip.text}}</a></h1>
                        <img src="../../images/{{tip.image}}" alt="App" class="uk-card rounded liftup uk-height-large uk-align-center">
                        <p class="uk-text-lead txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </article>
    </main>
    <footer class="uk-section uk-padding-small bg2 liftuptop wrapper" style="height: 40vh;" id="footer">
        <img src="../../images/heart.svg" class="uk-animation-stroke" width="50" height="50"
            alt="Heart" loading="lazy">
        <p>Made with love from Saptam</p>
        <a href="#header" uk-scroll>
            <button class="up">
                <span class="fa fa-arrow-up" style="font-size: xx-large;color:white;"></span>
            </button>
        </a>
        <!-- ShareThis BEGIN -->
        <div class="sharethis-inline-follow-buttons"></div><!-- ShareThis END -->
        <div class="uk-flex uk-flex-around uk-width-1-2@l uk-width-1-2@xl uk-width-1-1@s uk-margin">
            <a title="Customer reviews of sapython.me" href="https://www.webwiki.com/sapython.me"><img
                    src="https://www.webwiki.com/etc/rating/widget/1336578861/sapython-me-rating-round-220.png"
                    alt="Reviews of sapython.me" width="80" height="80" /></a>
            <a name="trustbadge" href="https://trustlock.co"><img name="trustseal" alt="Trust Badges" style="border: 0;"
                    src="https://trustlock.co/wp-content/uploads/2019/01/guaranteed-safe-checkout-5.png" width="238"
                    height="44"></a>
            <a name="trustbadge" href="https://trustlock.co"><img name="trustseal" alt="Trust Badges" style="border: 0;"
                    src="https://trustlock.co/wp-content/uploads/2019/01/ssl-checkout-trust-seal.png" width="238"
                    height="44"></a>
            <a href="https://razorpay.com/" target="_blank"> <img referrerpolicy="origin"
                    src="https://badges.razorpay.com/badge-dark.png " style="height: 45px; width: 113px;"
                    alt="Razorpay | Payment Gateway | Neobank"></a>
        </div>
    </footer>
    <script type="application/ld+json">
        { 
        "@context": "http://www.schema.org/", 
        "@type": "Person", 
        "name" : "Kumar Saptam", 
        "url": "http://sapython.me/", 
        "sameAs" : [ 
        "https://github.com/Sapython/", 
        "twitter.com/saptam_kumar", 
        "https://t.me/Saptam2003", 
        "https://www.linkedin.com/in/kumar-saptam-06312a17b/" 
        ] 
        } 
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://www.schema.org/",
            "@type": "LocalBusiness",
            "name": "Sapython",
            "url": "http://sapython.me/",
            "logo": "http://sapython.me/images/logo.png",
            "telephone": "+91 9517457296", 
            "pricerange":['50$', '100$', '300$', '1000$', '5000$'],
            "image": "http://sapython.me/images/Sapython-Banner.png",
            "description": "A one stop solution for apps and website get your website running under 6 hours.", 
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "6/202 Avas Vikas Colony, Jhunsi",
              "addressLocality": "Allahabad",
              "addressRegion": "Uttar Pradesh",
              "postalCode": "211019",
              "addressCountry": "India"
            },
            "hasMap": "https://www.google.com/maps/place/SAPYTHON+Website+Studio/@25.424945,81.9089003,17z/data=!3m1!4b1!4m5!3m4!1s0x39854b1065fbdfdd:0xd7a8875ef5f93d8e!8m2!3d25.424945!4d81.911089",
            "openingHours": "Mo, Tu, We, Th, Fr 08:00-05:30 Sa 08:00-19:30",
            "contactPoint": {
              "@type": "ContactPoint",
              "telephone": "(91) 9517457296",
              "contactType": "general"
            }
          }
    </script>
    <script src="js/output.min.js"></script>
    <script src="js/script.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-37TRNTCP6D');
    </script>
</body>

</html>