<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blog - Sapython: Kumar Saptam</title>

    <!-- OpenGraph Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sapython.me/">
    <meta property="og:site_name" content="Sapython" />
    <meta property="og:title" content="Blog - Sapython: Kumar Saptam" />
    <meta name='revised' content='Friday, May 5th, 2021, 7:30 pm'>
    <meta property="og:description"
        content="Blog page for 'sapython.me' See the latest and best posts from Kumar Saptam and learn new tricks, technologies." />
    <meta property="og:image" content="https://sapython.me/images/BLOG.png" />
    <meta property="og:image:alt" content="Official Sapython Blog Logo">
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="2240" />
    <meta property="og:image:height" content="1260" />
    <meta name='og:email' content='saptampro2003@gmail.com'>
    <meta name='og:phone_number' content='+91 9517457296'>
    <meta name='og:street-address' content='Avas Vikas Colony Jhunsi Allahabad'>
    <meta name='og:locality' content='India'>
    <meta name='og:region' content='IN'>
    <meta name='og:postal-code' content='211019'>
    <meta name='og:country-name' content='INDIA'>

    <!-- Twitter Tags -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Kumar Saptam's Blog" />
    <meta property="twitter:description"
        content="Blog page for 'sapython.me' See the latest and best posts from Kumar Saptam and learn new tricks, technologies." />
    <meta property="twitter:image" content="https://sapython.me/images/BLOG.png" />
    <meta property="twitter:image:alt" content="Our Official sapython blog banner.">
    <meta name="twitter:site" content="@kumar_saptam" />
    <meta name="twitter:creator" content="@kumar_saptam" />

    <!-- General tags -->
    <link rel="manifest" href="manifest.json">
    <meta content="#1b202a" name="theme-color" />
    <meta name='distribution' content='Global'>
    <meta name="author" content="Kumar Saptam" />
    <link rel="icon" sizes="192x192" href="/favicon.ico">
    <link rel="icon" rel="apple-touch-icon" sizes="192x192 16x16 32x32 64x64 128x128" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Expires" content="60000" />
    <meta name="description"
        content="Blog page for 'sapython.me' See the latest and best posts from Kumar Saptam and learn new tricks, technologies." />
    <meta name="keywords"
        content="Saptam, sapython, sapython, programming, python, app, website, saptam, kumarsaptam, blog, posts, technology, blog posts from sapython, blog of kumar saptam, blog of saptam, blog for technology, what is python used for, what is python,how to learn python,how to use python,how to run python script,how to check python version" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='application-name' content='sapython'>
    <meta name='designer' content='Kumar Saptam'>
    <meta name='owner' content='Kumar Saptam'>
    <meta name='url' content='https://sapython.me/'>
    <meta name='pagename' content='The official blog page of Sapython Solutions'>
    <meta name='coverage' content='Worldwide'>
    <meta name='rating' content='General'>
    <meta name='revisit-after' content='7 days'>
    <meta name='subtitle' content='Find latest blog from Kumar Saptam'>
    <meta name='target' content='all'>
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='320'>
    <meta name='date' content='May. 4, 2021'>
    <meta name='medium' content='home page'>

    <!-- Apple tags -->
    <meta name="apple-mobile-web-app-title" content="Sapython">
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='format-detection' content='telephone=no'>

    <link href='/logo.png' rel='apple-touch-icon' type='image/png'>
    <link href='logo-72-72.png' rel='apple-touch-icon' sizes='72x72'>
    <link href='logo-114-114.png' rel='apple-touch-icon' sizes='114x114'>
    <link href='/Sapython-Banner.webp' rel='apple-touch-startup-image'>
    <link href='/logo-114-114.png' sizes='114x114' rel='apple-touch-icon-precomposed'>
    <link href='/logo-72-72.png' sizes='72x72' rel='apple-touch-icon-precomposed'>
    <link href='/logo-57-57.png' sizes='57x57' rel='apple-touch-icon-precomposed'>

    <!-- Google tags -->
    <meta name="news_keywords" content="Python, Software, App, Website, Developer, Github, Fryerman">
    <meta name="robots" content="index, follow" />
    <meta name="Googlebot:noarchive" />
    <meta name="no-email-collection" content="https://www.metatags.org/nospamharvesting" />
    <meta name="revisit-after" content="7 days" />

    <!-- Imports  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="posts/styles/howToStyle.css">
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
    <script type="text/javascript"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=6076cfc56f8e97001192ac41&amp;product=inline-follow-buttons"
        async="async"></script>
    <script
        id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/36945f41714b84a3726d6bf4c/3c25581139a9b4f3cb071c1ed.js");</script>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="sapython" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F"
        data-position="Right" data-x_margin="18" data-y_margin="18" loading="lazy">
        </script>
        <script data-ad-client="ca-pub-1392419505356231" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PXCHCQ8');</script>
</head>

<body>
    <nav class="uk-navbar-container navBar" uk-navbar="">
        <div class="uk-navbar-left">
            <button class="uk-padding-small" name="Navigation" style="background-color: transparent;border:none;"
                type="button" uk-toggle="target: #offcanvas-nav-primary">
                <span class="ri-menu-2-line" style="color:#1D89FF;font-size:x-large"></span>
            </button>
        </div>
        <div class="uk-navbar-center">
            <img alt="Sapython Official Logo" class="sapythonLogo" src="https://sapython.me/favicon.ico" />
            <p class="logoTextFormatted" id="onMobile">Kumar Saptam</p>
            <p class="logoTextFormatted uk-margin-medium-left" id="onDesktop">Sapython</p>
        </div>
        <div class="uk-navbar-right uk-margin-medium-right" id="onDesktop">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="https://sapython.me/">Home</a></li>
                <li><a href="https://sapython.me/pages/blog/blog.html">Blog</a></li>
                <li>
                    <a href="#">Posts</a>
                    <div class="uk-navbar-dropdown bg5"
                        uk-dropdown="animation: uk-animation-slide-top; duration: 400;delay-hide:300;">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a
                                    href="https://sapython.me/pages/blog/posts/Top-5-most-interesting-and-usable-python-tricks-in-2021-.html">Top
                                    5 Python tricks</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="https://sapython.me/pages/contact/contact.html">Contact</a></li>
                <li><a href="https://sapython.me/pages/projects/projects.html"><button
                            class="bttn-pill bttn-fill bttn-md bttn-primary">Projects</button></a></li>
                <div class="liftup uk-margin">
                    <div class="gcse-search">
                        <script loading="lazy">
                            var a = setInterval(() => {
                                var elements = document.getElementsByClassName("gsc-search-button")
                                for (let i = 0; i < elements.length; i++) {
                                    elements[i].innerHTML = '<span uk-search-icon style="width:20px;height:20px"></span>'
                                    document.getElementById("gsc-i-id1").placeholder = "Search"
                                    document.getElementById("gsc-i-id1").style.background = "none"
                                    clearInterval(a);
                                }
                            }, 500
                            )
                        </script>
                    </div>
                </div>
            </ul>
        </div>
        <div id="offcanvas-nav-primary" uk-offcanvas="mode: push;overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column" id="navigationContainer">
                <div><button class="uk-offcanvas-close" type="button" uk-close=""></button>
                    <ul id="navigation" uk-accordion="">
                        <li>
                            <a class="uk-accordion-title" href="https://sapython.me/pages/blog/blog.html">Blog</a>
                            <div class="uk-accordion-content">
                                <ul style="list-style: none;">
                                    <li><a class="uk-text-italic"
                                            href="https://sapython.me/pages/blog/posts/Top-5-most-interesting-and-usable-python-tricks-in-2021-.html">
                                            <i class="ri-pushpin-line"></i>
                                            Top-5-Most-Interesting-And-Usable-Python-Tricks-In-2021-.Html</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="txt" href="https://sapython.me/pages/contact/contact.html"
                                style="font-size:1.25rem">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a class="txt" href="https://sapython.me/pages/projects/projects.html"
                                style="font-size:1.25rem">
                                Projects
                            </a>
                        </li>
                        <li>
                            <a class="txt" href="https://sapython.me/index.html" style="font-size:1.25rem">
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section style="height:60vh" class="blogHeader">
        <div class="uk-text-center alignCenter" style="position: relative;">
            <p class="txt t1">Welcome To Our <span class="txt2">BLOG</span></p>
        </div>
    </section>
    <section style="margin-top:50px;" id="onDesktop">
        <div class="uk-position-relative uk-visible-toggle uk-light uk-height-1-1" tabindex="-1"
            uk-slider="clsActivated: uk-transition-active; center: true;autoplay:true;">
            <ul class="uk-slider-items uk-grid">
                {% for alertPost in alertPosts %}
                <li class="uk-width-3-4 uk-height-1-2">
                    <div class="uk-panel uk-height-1-2" style="height: 60vh;">
                        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque"
                                src="../../images/postImages/design.webp" alt="">
                        </div>
                        <div
                            class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">Bottom</h3>
                            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slider-item="next"></a>
        </div>
    </section>
    <h2 class="uk-text-center">Post Categories</h2>
    <section class="postCategoryCardsContainer" uk-grid>
        <div class="uk-margin-small-right">
            <a href="#ideas" style="text-decoration: none;" class="uk-margin uk-inline-clip uk-transition-toggle">
                <div class="postCategory postlift liftup"
                    style="background-image: url('../../images/postImages/idea.webp');">
                    <div class="uk-text-center">
                        <br>
                        <p style="font-size: xx-large;color:white;" class="fullTextShadow">Ideas</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-margin-small-right">
            <a href="#inspirational" style="text-decoration: none;" class="uk-margin">
                <div class="postCategory postlift liftup"
                    style="background-image: url('../../images/postImages/lonely.webp');">
                    <div class="uk-text-center">
                        <br>
                        <p style="font-size: x-large;color:white;" class="fullTextShadow">Inspirational</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-margin-small-right">
            <a href="#designs" style="text-decoration: none;" class="uk-margin">
                <div class="postCategory postlift liftup"
                    style="background-image: url('../../images/postImages/softwares.webp');">
                    <div class="uk-text-center">
                        <br>
                        <p style="font-size: xx-large;color:white;" class="fullTextShadow">Designs</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-margin-small-right">
            <a href="#Tips and Tricks" style="text-decoration: none;" class="uk-margin" uk-scroll>
                <div class="postCategory postlift liftup"
                    style="background-image: url('../../images/postImages/tips.webp');">
                    <div class="uk-text-center">
                        <br>
                        <p style="font-size: xx-large;color:rgb(255, 255, 255);" class="fullTextShadow">Tips<br>Tricks
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-margin-small-right">
            <a href="#projects" style="text-decoration: none;" class="uk-margin">
                <div class="postCategory postlift liftup"
                    style="background-image: url('../../images/postImages/projects.webp');">
                    <div class="uk-text-center">
                        <br>
                        <p style="font-size: xx-large;color:white;" class="fullTextShadow">Projects</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    {% for postgroup in postData %}
    <section id="{{postgroup.title}}">
        <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -400"
            style="background-image: url('{{postgroup.image}}')">
            <div style="width:100%;height:auto;">
                <span style="font-size: 80px;text-align: center;color:#ffffff;position:relative;"
                    class="uk-text-middle uk-align-center alignCenter">{{postgroup.title}}</span>
            </div>
        </div>
    </section>
    <section class=" uk-card uk-card-body">
        <div class="uk-width-1-1">
            <div class="uk-flex-center uk-child-width-1-1@s uk-child-width-1-3@m uk-child-width-1-3@xl uk-child-width-1-3@l uk-text-center"
                uk-grid="masonry: true">
                {% for blogPost in postgroup.blogPosts %}
                <div class="uk-card bg3 postlift" style="padding-left:0px;margin-left:20px;">
                    <div class="uk-card-media-top uk-inline-clip uk-transition-toggle" tabindex="0">
                        <img src="{{blogPost.image}}" class="uk-transition-scale-up uk-transition-opaque"
                            alt="{{blogPost.title}}">
                    </div>
                    <div class="uk-card-body uk-padding">
                        <div class="uk-card-badge uk-label uk-label-success">{{blogPost.tag}}</div>
                        <p style="font-size: x-large;">{{blogPost.title}}</p>
                        <p>{{blogPost.excerpt}}</p>
                        <a href="{{blogPost.url}}" class="txt readMore">Read more</a>
                        <div class="sharethis-inline-share-buttons"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
    <footer class="uk-padding-small bg2 liftuptop wrapper uk-height-1-2@s uk-padding uk-height-1-3@l uk-height-1-3@xl"
        id="footer">
        <img alt="Heart" height="50" loading="lazy" src="../../images/heart.png" width="50" />
        <p>Made with love from Saptam</p>
        <a href="#header" uk-scroll="">
            <button class="up">
                <span class="ri-arrow-up-line" style="font-size: 30px;color:white;"></span>
            </button>
        </a>
    </footer>
    <script>
        if (screen.width >= 200 && screen.width <= 500) {
            document.getElementById("selectors").classList.add("uk-align-center")
        } else if (screen.width > 500 && screen.width < 900) {
            document.getElementById('projects').classList.add("uk-child-width-1-2   ")
        } else if (screen.width > 900 && screen.width < 1400) {
            document.getElementById('projects').classList.add("uk-child-width-1-2")
        } else if (screen.width > 1400) {
            document.getElementById('projects').classList.add("uk-child-width-1-2")
        }
    </script>
</body>

</html>